<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.DroidPHP"
    android:versionCode="2"
    android:versionName="1.0.3" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" // -->

    <application
        android:configChanges="keyboardHidden|orientation"
        android:icon="@drawable/ic_launcher"
        android:label="@string/application_name" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/activity_name"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreferenceActivity"
            android:label="Preferences"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".ShellActivity"
            android:label="mySQL Command Line Tool"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="About DroidPHP"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        </activity>

        <service
            android:name=".ServerService"
            android:icon="@drawable/icon"
            android:label="Server is running" >
        </service>
    </application>

</manifest>